{% extends 'core/base.html' %} {% load static %} {% block title %}Bootcamps
{% endblock title %} {% block content %} {% comment %}
<!-- Slider Start -->
<div id="rs-slider" class="rs-slider slider3 rs-slider-style4 relative">
  <div class="bend niceties">
    <div id="nivoSlider" class="slides">
      <img
        src="{% static 'assets/images/slider/h4-sl1.jpg' %}"
        alt=""
        title="#slide-1"
      />
      <img
        src="{% static 'assets/images/slider/h4-sl2.jpg' %}"
        alt=""
        title="#slide-2"
      />
    </div>
    <!-- Slide 1 -->
    <div id="slide-1" class="slider-direction">
      <div class="content-part text-center">
        <div class="container">
          <div class="slider-des">
            <div class="sl-subtitle">Our Business Goal</div>
            <h1 class="sl-title">
              To grow & manage<br />
              Your Business
            </h1>
          </div>
          <ul class="slider-bottom">
            <li>
              <a class="readon consultant orange-slide" href="contact.html"
                >Get Started</a
              >
            </li>
            <li>
              <div class="rs-videos">
                <div class="animate-border orange-color-style">
                  <a
                    class="popup-border"
                    href="https://www.youtube.com/watch?v=FMvA5fyZ338"
                  >
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div id="slide-2" class="slider-direction">
      <div class="content-part text-center">
        <div class="container">
          <div class="slider-des">
            <div class="sl-subtitle">Our Business Goal</div>
            <h1 class="sl-title">
              To grow & manage<br />
              Your Business
            </h1>
          </div>
          <ul class="slider-bottom">
            <li>
              <a class="readon consultant orange-slide" href="contact.html"
                >Get Started</a
              >
            </li>
            <li>
              <div class="rs-videos">
                <div class="animate-border orange-color-style">
                  <a
                    class="popup-border"
                    href="https://www.youtube.com/watch?v=FMvA5fyZ338"
                  >
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider End -->
{% endcomment %}

<!-- Banner Section Start -->
<div class="rs-banner banner-home-style2">
  <div class="container custom">
    <div class="row y-middle">
      <div class="col-lg-7">
        <div class="content-wrap">
          <span class="sub-text">Career Haven Bootcamps</span>
          <h2 class="title">Bootcamps That Transforms</h2>
          <div class="description mb-38">
            4 months of intensive learning and hands-on training by experienced professionals .<br />
            is the missing shape in your career puzzle
          </div>
          <div class="btn-part">
            <a class="readon consultant paste-btn" href="contact.html"
              >Discover More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5 pl-50 md-pl-15 pt-90 md-pt-60 md-mb-100 xs-mb-70">
        <div class="rs-contact">
          <div class="contact-wrap">
            <div class="content-part mb-30">
              <h2 class="title">Book Appointment</h2>
              <div class="description">
                We here to help you 24/7 with experts
              </div>
            </div>
            <div id="form-messages"></div>
            <form
              id="contact-form"
              method="post"
              action="#"
            >
              <fieldset>
                <div class="row">
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="name"
                      name="name"
                      placeholder="Name"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="email"
                      name="email"
                      placeholder="E-Mail"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="phone"
                      name="phone"
                      placeholder="Phone Number"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <textarea
                      class="from-control"
                      id="message"
                      name="message"
                      placeholder="Enter Query Here"
                      required=""
                    ></textarea>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <input
                    class="submit-btn"
                    type="submit"
                    value="Book Appointment Now"
                  />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Services Section Start -->
{% comment %} <div id="rs-services" class="rs-services style6">
  <div class="container custom">
    <div class="services-box-area bg20">
      <div class="row margin-0">
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/1.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Business Analysis</a>
              </h3>
              <p class="margin-0">
                Business Analysis is one of the fastest growing careers in IT.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/2.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Data Analysis</a>
              </h3>
              <p class="margin-0">
                The world of Data has grown astronomically, and this has opened the doors to experienced
                professionals as well as Newbies in the world of Data Analysis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/3.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Project Management</a>
              </h3>
              <p class="margin-0">
                Project management professionals drives projects and initiatives with their expertise in relevant tools,
                managing project stakeholders and organising skills.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item no-border">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/4.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Agile/Scrum Master</a>
              </h3>
              <p class="margin-0">
                Agile adoption is taking the IT industry by storm and been one of the highest paying job, becoming Agile
might just be the key to unlock your career dreams.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section End --> {% endcomment %}

<!-- About Section Start -->
<div class="rs-about style4 bg21 pt-100 pb-100 md-pt-70 md-pb-70">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-6 pr-40 md-pr-15 mt-45 md-mt-0 md-mb-50">
        <div class="sec-title3">
          <span class="sub-text">About Our Bootcamp</span>
          <h2 class="title pb-25">
            We are crafting your career into something you would love.
          </h2>
          <p class="margin-0">
            4 months of intensive learning and hands-on training by experienced professionals is the missing shape
in your career puzzle. Unlike no other bootcamps, you will be highly engaged to ensure you are not a
half-baked professional. With a limit to our study group, you can be rest assured we are not pulling you
into the crowd where you can easily get lost. Our small group of learners ensures your voice is being
heard and your concerns and worries are adequately taken care of. Need I say more, check the list of
our programs below.
          </p>
          <div class="btn-part mt-45">
            <a class="readon consultant discover orange-more" href="about.html"
              >Discover More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-img">
          <img
            src="{% static 'assets/images/about/home4/about-1.png' %}"
            alt="images"
          />
          <div class="animations one">
            <img
              class="dance2"
              src="{% static 'assets/images/about/home4/1.png' %}"
              alt="About"
            />
          </div>
          <div class="animations two">
            <img
              class="scale"
              src="{% static 'assets/images/about/home4/2.png' %}"
              alt="About"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section End -->

<!-- Services Section Start -->
<div
  class="rs-services main-home services-style1 home-4-style bg7 pt-95 pb-100 md-pt-70 md-pb-65"
>
  <div class="container">
    <div class="sec-title3 text-center mb-65 md-mb-45">
      <span class="sub-title">Available Bootcamps</span>
      <h2 class="title pb-25">
        check the list of our programs below.
      </h2>
      <div class="heading-border-line"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/style6/1.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="/">Business Analysis</a>
            </h2>
            <p class="services-txt">
                Business Analysis is one of the fastest growing careers in IT. The most interesting part of being a
                Business Analyst is the unlimited growth in the industry. According to IIBA (International institute of
                Business Analysis), a Business Analyst is anyone who carries out Business Analysis activities.
            </p>
            <div class="serial-number">01</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/style6/2.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title"><a href="/">Data Analysis</a></h2>
            <p class="services-txt">
                The world of Data has grown astronomically, and this has opened the doors to experienced
                professionals as well as Newbies in the world of Data Analysis.
            </p>
            <div class="serial-number">02</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/style6/3.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="/">Project Management</a>
            </h2>
            <p class="services-txt">
                Project management professionals drives projects and initiatives with their expertise in relevant tools,
                managing project stakeholders and organising skills. Project Managers are some of the highest paid
                professionals in the industry and this is expected to grow as tech adoption cuts across all industry.
            </p>
            <div class="serial-number">03</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section End -->

<!-- Project Section Start -->
<div class="rs-project home4-responsive">
  <div class="row">
    <div class="col-lg-7 padding-0">
      <div class="images-part">
        <img
          src="{% static 'assets/images/agile.jpg' %}"
          alt="Portfolio"
        />
      </div>
    </div>
    <div class="col-lg-5 padding-0">
      <div class="features-content">
        <div class="sec-title3 mb-35 md-mb-25">
          <span class="sub-text">Agile/Scrum Master:</span>
          <h2 class="title pb-25">
            Agile adoption is taking the IT industry by storm.
          </h2>
          <div class="desc pb-17">
            Agile adoption is taking the IT industry by storm and been one of the highest paying job, becoming Agile
might just be the key to unlock your career dreams. Are you keen on becoming a Scrum Master or Agile
coach, our well-structured curriculum will ensure you get adequate knowledge and practical experience
to lead an organisation on their agile journey. <br><br>Various companies and big brands have taken the
initiative to become agile and recruiting several positions. Agile roles been advertised in North America
increased by over 250 percent in the last one year and this adoption is believed to continue post
pandemic and as the world tries to adapt to the changes in business and politics. Still confused on what
Agile professionals do within an organisation, Schedule a time to speak to our career advisor to get
further details.
          </div>
        </div>
        {% comment %} <ul class="rs-features-list">
          <li>
            <i class="fa fa-check"></i>
            <span class="feature-text"
              >Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
              euismod in, pharetra a, ultricies in, diam. Sed arcu.
            </span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="feature-text"
              >Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
              euismod in, pharetra a, ultricies in, diam. Sed arcu.
            </span>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <span class="feature-text"
              >Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
              euismod in, pharetra a, ultricies in, diam. Sed arcu.
            </span>
          </li>
          <li class="btn-part mt-40">
            <a class="readon consultant discover orange-more" href="about.html"
              >View Projects</a
            >
          </li>
        </ul> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<!-- Project Section End -->

{% comment %} <!-- Why Choose Section Start -->
<div class="rs-why-choose style1">
  <div class="row">
    <div class="col-lg-7 padding-0 order-last">
      <div class="choose-img">
        <img
          src="{% static 'assets/images/choose/statistics.jpg' %}"
          alt="Choose"
        />
      </div>
    </div>
    <div class="col-lg-5 bg15 padding-0">
      <div class="choose-content">
        <div class="sec-title3 mb-35">
          <span class="sub-title">Why choose us</span>
          <h2 class="title pb-25">
            A right choice that makes the difference to others
          </h2>
          <div class="heading-border-line left-style"></div>
          <div class="desc pt-50 pb-17">
            We denounce with righteous indignation and dislike men who are so
            beguiled and demoralized by the charms.
          </div>
        </div>
        <!-- Skillbar Section Start -->
        <div class="rs-skillbar style1 home4-skillbar-style">
          <div class="cl-skill-bar">
            <!-- Start Skill Bar -->
            <span class="skillbar-title">Business Planning</span>
            <div class="skillbar" data-percent="90">
              <p class="skillbar-bar"></p>
              <span class="skill-bar-percent"></span>
            </div>
            <!-- Start Skill Bar -->
            <span class="skillbar-title">Financial Advices</span>
            <div class="skillbar" data-percent="85">
              <p class="skillbar-bar"></p>
              <span class="skill-bar-percent"></span>
            </div>
            <!-- Start Skill Bar -->
            <span class="skillbar-title">Investment Strategy</span>
            <div class="skillbar" data-percent="75">
              <p class="skillbar-bar"></p>
              <span class="skill-bar-percent"></span>
            </div>
            <!-- Start Skill Bar -->
            <span class="skillbar-title">Business Security</span>
            <div class="skillbar margin-no" data-percent="65">
              <p class="skillbar-bar"></p>
              <span class="skill-bar-percent"></span>
            </div>
          </div>
        </div>
        <!-- Skillbar Section End -->
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Section Start --> {% endcomment %}

<!-- Team Section Start -->
<div class="rs-team style1 bg4 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
      <div class="row y-middle">
        <div class="col-lg-5">
          <div class="sec-title mb-50 md-mb-35">
            <h2 class="title white-color">We’re experienced professionals</h2>
          </div>
        </div>
        <div class="col-lg-7 text-right md-left">
          <div class="btn-part mb-90 md-mb-50">
            <a class="readon consultant discover" href="/"
              >View Peoples</a
            >
          </div>
        </div>
      </div>
      <div
        class="rs-carousel owl-carousel"
        data-loop="true"
        data-items="3"
        data-margin="30"
        data-autoplay="true"
        data-hoverpause="true"
        data-autoplay-timeout="5000"
        data-smart-speed="800"
        data-dots="true"
        data-nav="false"
        data-nav-speed="false"
        data-md-device="3"
        data-md-device-nav="false"
        data-md-device-dots="true"
        data-center-mode="false"
        data-ipad-device2="2"
        data-ipad-device-nav2="false"
        data-ipad-device-dots2="true"
        data-ipad-device="2"
        data-ipad-device-nav="false"
        data-ipad-device-dots="true"
        data-mobile-device="1"
        data-mobile-device-nav="false"
        data-mobile-device-dots="true"
      >
        <div class="team-wrap">
          <div class="image-wrap">
            <a href="#"
              ><img src="{% static 'assets/images/femi.jpeg' %}" alt="Team"
            /></a>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="team-name"><a href="https://www.linkedin.com/in/femi-folorunsho-mba-cbap%C2%AE-ssyb-smc-spoc-9baa72151/">Femi Folorunsho</a></h3>
            <span class="team-title">VP Growth & Expansion</span>
          </div>
        </div>
        <div class="team-wrap">
          <div class="image-wrap">
            <a href="#"
              ><img src="{% static 'assets/images/orabor.jpeg' %}" alt="Team"
            /></a>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="team-name"><a href="https://www.linkedin.com/in/omoefeorobator/">Omoefe Orobator</a></h3>
            <span class="team-title">Marketing Strategist</span>
          </div>
        </div>
        <div class="team-wrap">
          <div class="image-wrap">
            <a href="team-single.html"
              ><img src="{% static 'assets/images/idris.jpeg' %}" alt="Team"
            /></a>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="team-name"><a href="https://www.linkedin.com/in/alugoidris/">Idris Alugo</a></h3>
            <span class="team-title">Head – Data Analysis and Insights</span>
          </div>
        </div>
        <div class="team-wrap">
          <div class="image-wrap">
            <a href="#"
              ><img src="{% static 'assets/images/manager.jpeg' %}" alt="Team"
            /></a>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="team-name"><a href="https://www.linkedin.com/in/paul-adeoba-445266115/">Paul Adeoba</a></h3>
            <span class="team-title"
              >Manager - IT Solutions & Business Development</span
            >
          </div>
        </div>
        <div class="team-wrap">
          <div class="image-wrap">
            <a href="#"
              ><img src="{% static 'assets/images/growth.jpeg' %}" alt="Team"
            /></a>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="team-name"><a href="https://www.linkedin.com/in/dianaojcsm/">Diana OJ</a></h3>
            <span class="team-title"
              >Senior Manager, Growth and Expansion</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section Start -->

<!-- Testimonial Section Start -->
<div class="rs-testimonial style4 home4-testi-style bg22">
  <div class="testimonial-overly-bg pt-95 pb-100 md-pt-65 md-pb-70">
    <div class="container custom">
      <div class="sec-title3 text-center mb-35">
        <span class="sub-title">Testimonials</span>
        <h2 class="title pb-25 white-color">Customers Reviews</h2>
        <div class="heading-border-line"></div>
      </div>
      <div
        class="rs-carousel owl-carousel"
        data-loop="true"
        data-items="3"
        data-margin="30"
        data-autoplay="true"
        data-hoverpause="true"
        data-autoplay-timeout="5000"
        data-smart-speed="800"
        data-dots="false"
        data-nav="false"
        data-nav-speed="false"
        data-center-mode="false"
        data-mobile-device="1"
        data-mobile-device-nav="false"
        data-mobile-device-dots="true"
        data-ipad-device="2"
        data-ipad-device-nav="false"
        data-ipad-device-dots="true"
        data-ipad-device2="2"
        data-ipad-device-nav2="false"
        data-ipad-device-dots2="true"
        data-md-device="3"
        data-md-device-nav="false"
        data-md-device-dots="true"
      >
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/1.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                Best of the best. The Bootcamp was very insightful and I learnt a lot. I would recommend it to anyone who wants to learn Data Analysis.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">David Warner</div>
              <span class="testi-title">User</span>
            </div>
          </div>
        </div>
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/2.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                These guys are the best. I learnt a lot from the Bootcamp. I would recommend it to anyone who wants to learn Data Analysis.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">Angelina Jolie</div>
              <span class="testi-title">Advisor</span>
            </div>
          </div>
        </div>
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/3.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                The Business Bootcamp was very insightful and I learnt a lot. I would recommend it to anyone who wants to learn Business Analysis.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">Megan Fox</div>
              <span class="testi-title">Senior CEO</span>
            </div>
          </div>
        </div>
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/4.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                The Business Bootcamp was very insightful and I learnt a lot. I would recommend it to anyone who wants to learn Business Analysis.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">Nicole Kidman</div>
              <span class="testi-title">Author</span>
            </div>
          </div>
        </div>
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/1.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                The Business Bootcamp was very insightful and I learnt a lot. I would recommend it to anyone who wants to learn Business Analysis.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">David Warner</div>
              <span class="testi-title">User</span>
            </div>
          </div>
        </div>
        {% comment %} <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/2.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                These guys are awesome! Each time I needed their help, their
                response was quick and very helpful. Also, the theme is very
                flexible. Five stars from me for everything! I truly recommend
                this theme!!!
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">Angelina Jolie</div>
              <span class="testi-title">Envato Advisor</span>
            </div>
          </div>
        </div>
        <div class="testi-item">
          <div class="testi-wrap">
            <div class="image-wrap">
              <img
                src="{% static 'assets/images/testimonial/avatar/3.jpg' %}"
                alt="Testimonial"
              />
            </div>
            <div class="item-contents">
              <p>
                The theme is fine. It is customizable and its demos are great.
                The education plugin also works fine. But, although I like it so
                much, I want to point out a few shortcomings. Theme is
                appropriate, I agree.
              </p>
            </div>
            <div class="testi-information">
              <div class="testi-name">Megan Fox</div>
              <span class="testi-title">Senior CEO</span>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->

<!-- Contact Section Start -->
<div class="rs-contact contact-style2 pt-100 pb-100 md-pt-70 md-pb-70">
  <div class="container custom">
    <div class="row y-middle">
      <div class="col-lg-6 md-mb-50">
        <div class="contact-img">
          <img
            src="{% static 'assets/images/contact/contact-h4.jpg' %}"
            alt="Contact"
          />
        </div>
      </div>
      <div class="col-lg-6 pl-40 md-pl-15">
        <div class="contact-wrap">
          <div class="sec-title3 mb-35">
            <span class="sub-title">Contact Us</span>
            <h2 class="title pb-25">
              Let us help your career to move forward.
            </h2>
            <div class="heading-border-line left-style"></div>
          </div>
          <div id="form-messages"></div>
          <form
            id="contact-form"
            method="post"
            action="#"
          >
            <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="email"
                    name="email"
                    placeholder="E-Mail"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="Phone Number"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="Website"
                    name="subject"
                    placeholder="Your Website"
                    required=""
                  />
                </div>

                <div class="col-lg-12 mb-30">
                  <textarea
                    class="from-control"
                    id="message"
                    name="message"
                    placeholder="Your message Here"
                    required=""
                  ></textarea>
                </div>
              </div>
              <div class="btn-part">
                <div class="form-group mb-0">
                  <input
                    class="readon submit orange-submit"
                    type="submit"
                    value="Submit Now"
                  />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section End -->

{% endblock %}
