{% extends 'core/base.html' %} {% load static %} {% block title %}Bootcamps
{% endblock title %} {% block content %} {% comment %}
<!-- Slider Start -->
<div id="rs-slider" class="rs-slider slider3 rs-slider-style4 relative">
  <div class="bend niceties">
    <div id="nivoSlider" class="slides">
      <img
        src="{% static 'assets/images/slider/h4-sl1.jpg' %}"
        alt=""
        title="#slide-1"
      />
      <img
        src="{% static 'assets/images/slider/h4-sl2.jpg' %}"
        alt=""
        title="#slide-2"
      />
    </div>
    <!-- Slide 1 -->
    <div id="slide-1" class="slider-direction">
      <div class="content-part text-center">
        <div class="container">
          <div class="slider-des">
            <div class="sl-subtitle">Our Business Goal</div>
            <h1 class="sl-title">
              To grow & manage<br />
              Your Business
            </h1>
          </div>
          <ul class="slider-bottom">
            <li>
              <a class="readon consultant orange-slide" href="contact.html"
                >Get Started</a
              >
            </li>
            <li>
              <div class="rs-videos">
                <div class="animate-border orange-color-style">
                  <a
                    class="popup-border"
                    href="https://www.youtube.com/watch?v=FMvA5fyZ338"
                  >
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div id="slide-2" class="slider-direction">
      <div class="content-part text-center">
        <div class="container">
          <div class="slider-des">
            <div class="sl-subtitle">Our Business Goal</div>
            <h1 class="sl-title">
              To grow & manage<br />
              Your Business
            </h1>
          </div>
          <ul class="slider-bottom">
            <li>
              <a class="readon consultant orange-slide" href="contact.html"
                >Get Started</a
              >
            </li>
            <li>
              <div class="rs-videos">
                <div class="animate-border orange-color-style">
                  <a
                    class="popup-border"
                    href="https://www.youtube.com/watch?v=FMvA5fyZ338"
                  >
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider End -->
{% endcomment %}

<!-- Banner Section Start -->
{% comment %} <div class="rs-banner banner-home-style2">
  <div class="container custom">
    <div class="row y-middle">
      <div class="col-lg-7">
        <div class="content-wrap">
          <span class="sub-text">Career Haven Bootcamps</span>
          <h2 class="title">Bootcamps That Transforms</h2>
          <div class="description mb-38">
            4 months of intensive learning and hands-on training by experienced professionals .<br />
            is the missing shape in your career puzzle
          </div>
          <div class="btn-part">
            <a class="readon consultant paste-btn" href="contact.html"
              >Discover More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5 pl-50 md-pl-15 pt-90 md-pt-60 md-mb-100 xs-mb-70">
        <div class="rs-contact">
          <div class="contact-wrap">
            <div class="content-part mb-30">
              <h2 class="title">Book Appointment</h2>
              <div class="description">
                We here to help you 24/7 with experts
              </div>
            </div>
            <div id="form-messages"></div>
            <form
              id="contact-form"
              method="post"
              action="#"
            >
              <fieldset>
                <div class="row">
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="name"
                      name="name"
                      placeholder="Name"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="email"
                      name="email"
                      placeholder="E-Mail"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <input
                      class="from-control"
                      type="text"
                      id="phone"
                      name="phone"
                      placeholder="Phone Number"
                      required=""
                    />
                  </div>
                  <div class="col-lg-12 mb-12">
                    <textarea
                      class="from-control"
                      id="message"
                      name="message"
                      placeholder="Enter Query Here"
                      required=""
                    ></textarea>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <input
                    class="submit-btn"
                    type="submit"
                    value="Book Appointment Now"
                  />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
<!-- Banner Section End -->
<!-- Services Section Start -->
{% comment %} <div class="rs-services style8 bg14 pt-100 pb-100 md-pt-70 md-pb-70">
  <div class="container">
      <div class="row y-middle">
          <div class="col-lg-5 pr-25 md-pr-15 md-mb-50">
              <div class="sec-title3">                              
                  <h2 class="title pb-20">
                      25 Years of Experience in Consulting Services.
                  </h2>
                  <p class="margin-0 pb-40">On the other hand we denounce with righteous tion and men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee consulting solutions.</p>
                  <div class="btn-part">
                      <a class="readon consultant paste-btn more" href="/">Apply Below</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 pl-30 md-pl-15">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <div class="flip-box-inner mb-30">
                          <div class="flip-box-wrap">
                              <div class="front-part">
                                 <div class="front-content-part">
                                      <div class="front-icon-part">
                                          <div class="icon-part">
                                              <img src="{% static 'assets/images/services/style7/1.png' %}" alt=""> 
                                          </div>
                                      </div>
                                      <div class="front-title-part">
                                          <h3 class="title"><a href="/">Market Research</a></h3>
                                      </div>
                                      <div class="front-desc-part">
                                          <p>
                                              We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="back-front">
                                  <div class="back-front-content">
                                      <div class="back-title-part">
                                          <h3 class="back-title"><a href="/">Market Research</a></h3>
                                      </div>
                                      <div class="back-desc-part">
                                          <p class="back-desc">We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.</p>
                                      </div>
                                      <div class="back-btn-part">
                                          <a class="readon view-more small" href="/">View More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                     </div>
                     <div class="flip-box-inner sm-mb-30">
                          <div class="flip-box-wrap">
                              <div class="front-part">
                                 <div class="front-content-part">
                                      <div class="front-icon-part">
                                          <div class="icon-part">
                                              <img src="{% static 'assets/images/services/style7/3.png' %}" alt=""> 
                                          </div>
                                      </div>
                                      <div class="front-title-part">
                                          <h3 class="title"><a href="/">Financial Advices</a></h3>
                                      </div>
                                      <div class="front-desc-part">
                                          <p>
                                              We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="back-front">
                                  <div class="back-front-content">
                                      <div class="back-title-part">
                                          <h3 class="back-title"><a href="/">Market Research</a></h3>
                                      </div>
                                      <div class="back-desc-part">
                                          <p class="back-desc">We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.</p>
                                      </div>
                                      <div class="back-btn-part">
                                          <a class="readon view-more small" href="/">Apply Below</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                     </div>  
                  </div>
                  <div class="col-lg-6 col-md-6 mt-30 md-mt-0">
                     <div class="flip-box-inner mb-30">
                          <div class="flip-box-wrap">
                              <div class="front-part">
                                 <div class="front-content-part">
                                      <div class="front-icon-part">
                                          <div class="icon-part">
                                              <img src="{% static 'assets/images/services/style7/2.png' %}" alt=""> 
                                          </div>
                                      </div>
                                      <div class="front-title-part">
                                          <h3 class="title"><a href="/">Tax Strategy</a></h3>
                                      </div>
                                      <div class="front-desc-part">
                                          <p>
                                              We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="back-front">
                                  <div class="back-front-content">
                                      <div class="back-title-part">
                                          <h3 class="back-title"><a href="/">Insurance Strategy</a></h3>
                                      </div>
                                      <div class="back-desc-part">
                                          <p class="back-desc">We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.</p>
                                      </div>
                                      <div class="back-btn-part">
                                          <a class="readon view-more small" href="/">Apply Below</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                     </div>
                     <div class="flip-box-inner">
                          <div class="flip-box-wrap">
                              <div class="front-part">
                                 <div class="front-content-part">
                                      <div class="front-icon-part">
                                          <div class="icon-part">
                                              <img src="{% static 'assets/images/services/style7/4.png' %}" alt=""> 
                                          </div>
                                      </div>
                                      <div class="front-title-part">
                                          <h3 class="title"><a href="#">Market Research</a></h3>
                                      </div>
                                      <div class="front-desc-part">
                                          <p>
                                              We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="back-front">
                                  <div class="back-front-content">
                                      <div class="back-title-part">
                                          <h3 class="back-title"><a href="/">Market Research</a></h3>
                                      </div>
                                      <div class="back-desc-part">
                                          <p class="back-desc">We denounce with righteous indig onto nation and dislike men who are so beguiled and demo data.</p>
                                      </div>
                                      <div class="back-btn-part">
                                          <a class="readon view-more small" href="/">apply below</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                     </div>  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> {% endcomment %}
<!-- Services Section End -->

            <!-- Bootcamps Start -->
            <div class="rs-blog style2 home5-blog-style bg19 pt-100 pb-100 md-pt-70 md-pb-70">
              <div class="container">
                  <div class="row y-middle md-mb-30">
                      <div class="col-lg-5 mb-20 md-mb-10">
                         <div class="sec-title3 mb-10">
                              <span class="sub-title paste-color">Bootcamps Updates</span>
                             <h2 class="title pb-20">
                                  Apply to our latest Bootcamps
                             </h2>
                         </div>
                      </div>
                      {% comment %} <div class="col-lg-7 mb-20">
                          <div class="btn-part text-right md-left">
                              <a class="readon consultant paste-btn more" href="blog-details.html">View Updates</a>
                          </div>
                      </div> {% endcomment %}
                  </div>
                  <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
                    {% for boot in bootcamp %}  
                    <div class="blog-item">
                          <div class="image-wrap">
                              <a href="{% url 'core:bootcamp-details' boot.slug %}"><img src="{{boot.image.url}}" alt="Blog"></a>
                              <ul class="post-categories">
                                  <li><a href="/">{{boot.category}}</a></li>
                              </ul>
                          </div>
                          <div class="blog-content">
                             <ul class="blog-meta mb-10">
                                 <li class="admin"> <i class="fa fa-user-o"></i> Career Haven</li>
                                 <li class="date"> <i class="fa fa-calendar-check-o"></i> {{boot.created|date:"d M Y"}}</li>
                             </ul>
                             <h3 class="blog-title"><a href="{% url 'core:bootcamp-details' boot.slug %}">{{boot.title }}</h3>
                              <p class="back-desc">{{boot.excerpt | truncatewords:20}}</p>
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
          <!-- Blog End -->

<!-- Services Section Start -->
{% comment %} <div id="rs-services" class="rs-services style6">
  <div class="container custom">
    <div class="services-box-area bg20">
      <div class="row margin-0">
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/1.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Business Analysis</a>
              </h3>
              <p class="margin-0">
                Business Analysis is one of the fastest growing careers in IT.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/2.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Data Analysis</a>
              </h3>
              <p class="margin-0">
                The world of Data has grown astronomically, and this has opened the doors to experienced
                professionals as well as Newbies in the world of Data Analysis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/3.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Project Management</a>
              </h3>
              <p class="margin-0">
                Project management professionals drives projects and initiatives with their expertise in relevant tools,
                managing project stakeholders and organising skills.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
          <div class="services-item no-border">
            <div class="services-icon">
              <img
                class="dance_hover"
                src="{% static 'assets/images/services/style6/icon-box/4.png' %}"
                alt="Services"
              />
            </div>
            <div class="services-content">
              <h3 class="title">
                <a href="services-style1.html">Agile/Scrum Master</a>
              </h3>
              <p class="margin-0">
                Agile adoption is taking the IT industry by storm and been one of the highest paying job, becoming Agile
might just be the key to unlock your career dreams.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section End --> {% endcomment %}


{% endblock %}
