{% extends 'core/base.html' %} {% load static %} {% block title %}CPOA – Certificate in Product Ownership Analysis{% endblock title %} {% block content %}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img5">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">
        CPOA – Certificate in Product Ownership Analysis
        <span class="watermark">CPOA Course</span>
      </h1>
      <span class="sub-text"
        >(IIBA ® -CPOA)IIBA’s Product Ownership Analysis certification program recognizes the integration of Business Analysis and
        Product Ownership with an Agile mindset to maximizing value. The program provides the opportunity to acquire
        essential concepts needed to create successful products..</span
      >
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->

<!-- Services Section Start -->
{% comment %}
<div
  class="rs-services main-home services-style1 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/1.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="#">Business Analysis Knowledge</a>
            </h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">01</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/2.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="#">Business analysis and the BA professional</a>
            </h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">02</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/3.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="#">Business analysis key concepts</a>
            </h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">03</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/4.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="#">Business Analysis Planning and Monitoring</a>
            </h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">04</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 sm-mb-65">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/5.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title"><a href="#">Elicitation and Collaboration</a></h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">05</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="{% static 'assets/images/services/main-home/6.png' %}"
              alt="Services"
            />
          </div>
          <div class="services-text">
            <h2 class="title">
              <a href="#">Underlying competencies</a>
            </h2>
            <p class="services-txt">
              Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac
              nibh luctus consulting.
            </p>
            <div class="serial-number">06</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<!-- Services Section End -->

<!-- Process Section Start -->
<div class="rs-process style1 bg2 pt-100 pb-100 md-pt-70 md-pb-80">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-7">
        <div class="sec-title md-text-center mb-30">
          <h2 class="title title2 white-color">
            To earn the CBAP® designation, candidates must:
          </h2>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="btn-part text-right md-text-center">
          <a class="readon consultant discover" href="#">Get In Touch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container custom2">
    <div class="process-effects-layer">
      <div class="row">
        <div class="col-lg-3 col-md-6 md-mb-30">
          <div class="rs-addon-number">
            <div class="number-part">
              <div class="number-image">
                <img
                  src="{% static 'assets/images/process/style1/1.png' %}"
                  alt="Process"
                />
              </div>
              <div class="number-text">
                <div class="number-area">
                  <span class="number-prefix"> 1 </span>
                </div>
                <div class="number-title">
                  <h3 class="title">Experience</h3>
                </div>
                <div class="number-txt">
                  Complete a minimum of 7,500 hours of Business Analysis Work experience in the last 10
years
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 md-mb-30">
          <div class="rs-addon-number">
            <div class="number-part">
              <div class="number-image">
                <img
                  src="{% static 'assets/images/process/style1/2.png' %}"
                  alt="Process"
                />
              </div>
              <div class="number-text">
                <div class="number-area">
                  <span class="number-prefix"> 2 </span>
                </div>
                <div class="number-title">
                  <h3 class="title">Professional Development</h3>
                </div>
                <div class="number-txt">
                  Complete a minimum of 35 hours of Professional development in the last 4 years
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 sm-mb-30">
          <div class="rs-addon-number">
            <div class="number-part">
              <div class="number-image">
                <img
                  src="{% static 'assets/images/process/style1/3.png' %}"
                  alt="Process"
                />
              </div>
              <div class="number-text">
                <div class="number-area">
                  <span class="number-prefix"> 3 </span>
                </div>
                <div class="number-title">
                  <h3 class="title">Register and take the exam</h3>
                </div>
                <div class="number-txt">
                  Quisque placerat vitae focus scelerisque. Fusce luctus odio ac
                  nibh luctus, in porttitor.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="rs-addon-number">
            <div class="number-part">
              <div class="number-image">
                <img
                  src="{% static 'assets/images/process/style1/4.png' %}"
                  alt="Process"
                />
              </div>
              <div class="number-text">
                <div class="number-area">
                  <span class="number-prefix"> 4 </span>
                </div>
                <div class="number-title">
                  <h3 class="title">Pass the exam</h3>
                </div>
                <div class="number-txt">
                  Quisque placerat vitae focus scelerisque. Fusce luctus odio ac
                  nibh luctus, in porttitor.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Process Section End -->

<!-- Contact Section Start -->
<div class="rs-contact contact-style2 bg11 pt-95 pb-100 md-pt-65 md-pb-70">
  <div class="container">
    <div class="sec-title2 mb-55 md-mb-35 text-center">
      <div class="sub-text">Contact</div>
      <h2 class="title mb-0">
        Let us help your career to <br />
        the next <span>level.</span>
      </h2>
    </div>
    <div class="row y-middle">
      <div class="col-lg-6 md-mb-50">
        <div class="contact-img">
          <img
            src="{% static 'assets/images/contact/computer.jpg' %}"
            alt="Computer"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-wrap">
          <div id="form-messages"></div>
          <form id="contact-form" method="post" action="/">
            <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="email"
                    name="email"
                    placeholder="E-Mail"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="Phone Number"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                  <input
                    class="from-control"
                    type="text"
                    id="Website"
                    name="subject"
                    placeholder="Your Website"
                    required=""
                  />
                </div>

                <div class="col-lg-12 mb-30">
                  <textarea
                    class="from-control"
                    id="message"
                    name="message"
                    placeholder="Your message Here"
                    required=""
                  ></textarea>
                </div>
              </div>
              <div class="btn-part">
                <div class="form-group mb-0">
                  <input
                    class="readon submit"
                    type="submit"
                    value="Submit Now"
                  />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main content End -->
{% endblock %}
