{% extends 'core/base.html' %} {% load static %} {% block title %}Interview
Preparation{% endblock title %} {% block content %}

<!-- Banner Section Start -->
<div class="rs-banner banner-style6">
  <div class="container custom">
    <div class="row y-middle">
      <div class="col-lg-5 col-md-7">
        <div class="sec-title4 mb-30">
          <div class="sub-title">Level up </div>
          <h2 class="title primary-color">your Career</h2>
          <div class="desc left-line-v">
            <div class="draw-line start-draw"></div>
            Get hands-on tranining towards moving ahead... 
          </div>
        </div>
        <div class="btn-area">
          <a class="readon2" href="#"
            >Learn More
            <div class="btn-arrow"></div
          ></a>
          <a
            class="popup-videos bnr-play-btn"
            href="https://www.youtube.com/watch?v=2PFVhej26BE"
            ><span class="border-wrap"><i class="fa fa-play"></i></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section End -->

<!-- Services Section Start -->
<div class="rs-services style1 reverse">
  <div class="container">
    <div class="row service-wrap mr-0 ml-0">
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/head.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Career Advice</a></h4>
          <div class="desc mb-12">
            Our Career Advisors are experts with best approach to details
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/data-processing.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Data Processing</a></h4>
          <div class="desc mb-12">
            Have in-depth knowledge of data processing with real world practice
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid br-none bdru">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/risks.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Risk Management</a></h4>
          <div class="desc mb-12">
            Learn the nitty-gritty of risk management and assessment 
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services Section End -->

<!-- About Section Start -->
<div class="rs-about style5 relative pt-140 md-pt-80">
  <div class="container">
    <div class="row rs-vertical-middle">
      <div class="col-lg-6 pr-72">
        <div class="left-side">
          <img src="{% static 'assets/images/about/about.jpg' %}" alt="" />
          <div class="skill-tag">
            <span>10</span> Years <br />
            Experience
          </div>
          <img
            class="left-pattern"
            src="{% static 'assets/images/pattern/pattern1.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 md-pt-50">
        <div class="sec-title4 mb-30">
          <div class="sub-title secondary-color mb-10">About us</div>
          <h2 class="title primary-color">
            Corex is one of the<br />
            Best Business Agency
          </h2>
          <div class="desc left-line-v">
            <div class="draw-line start-draw"></div>
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed
            rhoncus eget ex id egestas. Nam nec nisl placerat.
          </div>
        </div>
        <div class="row mb-40">
          <div class="col-md-6">
            <ul class="services">
              <li><i class="fa fa-check"></i>Affordable Support</li>
              <li><i class="fa fa-check"></i>Client Oriented</li>
              <li><i class="fa fa-check"></i>Affordable Support</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="services">
              <li><i class="fa fa-check"></i>Professional Team</li>
              <li><i class="fa fa-check"></i>24/7 Active Service</li>
            </ul>
          </div>
        </div>
        <div class="btn-part">
          <a class="readon2" href="#"
            >Learn More
            <div class="btn-arrow"></div
          ></a>
        </div>
      </div>
    </div>
    <div class="pattern-img">
      <img
        class="left-pattern"
        src="{% static 'assets/images/pattern/pattern1.png' %}"
        alt=""
      />
    </div>
  </div>
</div>
<!-- About Section End -->

<!-- Services Section Start -->
<div class="rs-services style1 modify shape-bg pt-128 md-pt-70 pb-140 md-pb-80">
  <div class="container">
    <div class="sec-title4 text-center mb-60">
      <div class="sub-title mb-6">Services</div>
      <h2 class="title primary-color">What We Provide</h2>
    </div>
    <div class="row service-wrap mr-0 ml-0">
      <div class="col-lg-4 padding-0 pr-1">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/head.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Business Advice</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/data-processing.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Data Processing</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/risks.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Risk Management</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0 pr-1">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/branding.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Brand Guideline</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/content-writing.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Content Optimizing</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 padding-0">
        <div class="service-grid">
          <div class="service-icon mb-23">
            <img src="{% static 'assets/images/icons/clipboard.svg' %}" alt="" />
          </div>
          <h4 class="title mb-18"><a href="#">Business Strategy</a></h4>
          <div class="desc mb-12">
            Integer at faucibus urna. Nullam condimentum leo id.
          </div>
          <div class="btn-wrap">
            <a class="readmore" href="#"
              >Read more
              <div class="btn-arrow"></div
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="view-btn text-center mt-40">
      <a class="readon2" href="#"
        >All Services
        <div class="btn-arrow"></div
      ></a>
    </div>
  </div>
</div>
<!-- Services Section End -->

<!-- Testimonial Section Start -->
<div class="rs-testimonial style1">
  <div
    class="secondary-bg2 left-radius relative pt-133 pb-133 md-pt-70 md-pb-70"
  >
    <div class="container">
      <div class="sec-title4 text-center mb-60">
        <div class="sub-title secondary-color mb-6">Testimonials</div>
        <h2 class="title white-color">Customer Reviews</h2>
      </div>
      <div
        class="rs-carousel owl-carousel owl-loaded owl-drag"
        data-loop="true"
        data-items="3"
        data-margin="0"
        data-autoplay="true"
        data-autoplay-timeout="7000"
        data-smart-speed="800"
        data-dots="false"
        data-nav="false"
        data-nav-speed="false"
        data-center-mode="true"
        data-mobile-device="1"
        data-mobile-device-nav="false"
        data-mobile-device-dots="false"
        data-ipad-device="3"
        data-ipad-device-nav="false"
        data-ipad-device-dots="false"
        data-ipad-device2="2"
        data-ipad-device-nav2="false"
        data-ipad-device-dots2="false"
        data-md-device="3"
        data-md-device-nav="false"
        data-md-device-dots="false"
      >
        <div class="item text-center">
          <div class="testi-img">
            <img src="{% static 'assets/images/testimonial/1.png' %}" alt="" />
          </div>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <div class="author-detail">
            <div class="desc">
              "Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
              nec sit amet est Sed ut euismod."
            </div>
            <h4 class="name">Nathan Hirsch</h4>
            <span class="designation">Graphic Designer</span>
          </div>
        </div>
        <div class="item text-center">
          <div class="testi-img">
            <img src="{% static 'assets/images/testimonial/2.png' %}" alt="" />
          </div>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <div class="author-detail">
            <div class="desc">
              "Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
              nec sit amet est Sed ut euismod."
            </div>
            <h4 class="name">Piter More</h4>
            <span class="designation">Business Planner</span>
          </div>
        </div>
        <div class="item text-center">
          <div class="testi-img">
            <img src="{% static 'assets/images/testimonial/3.png' %}" alt="" />
          </div>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <div class="author-detail">
            <div class="desc">
              "Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
              nec sit amet est Sed ut euismod."
            </div>
            <h4 class="name">Devis Polo</h4>
            <span class="designation">Designer</span>
          </div>
        </div>
        <div class="item text-center">
          <div class="testi-img">
            <img src="{% static 'assets/images/testimonial/4.png' %}" alt="" />
          </div>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <div class="author-detail">
            <div class="desc">
              "Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
              nec sit amet est Sed ut euismod."
            </div>
            <h4 class="name">Jhon Peter</h4>
            <span class="designation">Manager</span>
          </div>
        </div>
        <div class="item text-center">
          <div class="testi-img">
            <img src="{% static 'assets/images/testimonial/5.png' %}" alt="" />
          </div>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <div class="author-detail">
            <div class="desc">
              "Aenean non accumsan ante. Duis et risus accumsan sem tempus porta
              nec sit amet est Sed ut euismod."
            </div>
            <h4 class="name">Jeson Thomas</h4>
            <span class="designation">Consultant</span>
          </div>
        </div>
      </div>
      <div class="pattern-img">
        <img
          class="img1 common rotate-anim"
          src="{% static 'assets/images/pattern/pattern1.png' %}"
          alt=""
        />
        <img
          class="img2 common"
          src="{% static 'assets/images/pattern/pattern2.png' %}"
          alt=""
        />
        <img
          class="img3 common"
          src="{% static 'assets/images/pattern/pattern3.png' %}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->

<!-- Partner Section Start -->
<div class="rs-partner gray-bg pt-74 pb-65">
  <div class="container">
    <div
      class="rs-carousel owl-carousel owl-loaded owl-drag"
      data-loop="true"
      data-items="4"
      data-margin="0"
      data-autoplay="false"
      data-autoplay-timeout="7000"
      data-smart-speed="800"
      data-dots="false"
      data-nav="true"
      data-nav-speed="false"
      data-center-mode="false"
      data-mobile-device="1"
      data-mobile-device-nav="false"
      data-mobile-device-dots="false"
      data-ipad-device="3"
      data-ipad-device-nav="false"
      data-ipad-device-dots="false"
      data-ipad-device2="2"
      data-ipad-device-nav2="false"
      data-ipad-device-dots2="false"
      data-md-device="4"
      data-md-device-nav="true"
      data-md-device-dots="false"
    >
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/1.png' %}" alt="" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/2.png' %}" alt="" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/3.png' %}" alt="" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/4.png' %}" alt="" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/5.png' %}" alt="" /></a>
      </div>
      <div class="item">
        <a href="#"><img src="{% static 'assets/images/partner/6.png' %}" alt="" /></a>
      </div>
    </div>
  </div>
</div>
<!-- Partner Section End -->

<!-- Achievement Section Start -->
<div class="rs-achievement style1 relative pt-171 md-pt-80">
  <div class="container">
    <div class="row rs-vertical-middle">
      <div class="col-lg-6 pr-0">
        <div class="sec-title4 mb-35">
          <div class="sub-title mb-6">Achievement</div>
          <h2 class="title">What We Have Done in these Few Years</h2>
          <div class="desc left-line-v">
            <div class="draw-line start-draw"></div>
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed
            rhoncus eget ex id egestas. Nam nec nisl placerat, tempus erat a,
            condimentum metus. Curabitur nulla nisi.
          </div>
        </div>
        <div class="rs-counter hover-box pt-35">
          <div class="rs-counter-list box-item">
            <div class="counter-icon">
              <i class="glyph-icon flaticon-user-1"></i>
            </div>
            <h3 class="counter-number">300</h3>
            <div class="counter-text">Happy Clients</div>
          </div>
          <div class="rs-counter-list box-item active">
            <div class="counter-icon">
              <i class="glyph-icon flaticon-picture-1"></i>
            </div>
            <h3 class="counter-number">722</h3>
            <div class="counter-text">Projects Done</div>
          </div>
          <div class="rs-counter-list box-item">
            <div class="counter-icon">
              <i class="glyph-icon flaticon-best"></i>
            </div>
            <h3 class="counter-number">125</h3>
            <div class="counter-text">Winning Awards</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 md-pt-50">
        <div class="img-part">
          <img src="{% static 'assets/images/achievement/achievement.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <img class="pattern-img" src="{% static 'assets/images/pattern/pattern4.png' %}" alt="" />
  </div>
</div>
<!-- Achievement Section End -->

<!-- Estimate Section Start -->
<div class="rs-estimate relative pt-200 pb-187 mt-76 md-pt-85 md-mt-0 md-pb-80">
  <div class="container">
    <div class="row rs-vertical-middle">
      <div class="col-lg-6">
        <div class="image-part">
          <img src="{% static 'assets/images/estimate/estimate.png' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-6 md-pt-50">
        <div class="sec-title4 mb-36">
          <div class="sub-title mb-6">Estimate</div>
          <h2 class="title">We Help Enterpreneurs to Grow Business</h2>
          <div class="desc left-line-v">
            <div class="draw-line start-draw"></div>
            Duis pretium gravida enim, vel maximus ligula fermentum a. Sed
            rhoncus eget ex id egestas. Nam nec nisl placerat.
          </div>
        </div>
        <ul class="estimate-info">
          <li>
            <div class="title">We Have Valued Services</div>
            <p class="margin-0">
              Duis pretium gravida enim, vel maximus ligula fermentuma. Sed
              rhoncus eget ex id egestas. Nam nec nisl.
            </p>
          </li>
          <li>
            <div class="title">We Provide Great Support</div>
            <p class="margin-0">
              Duis pretium gravida enim, vel maximus ligula fermentuma. Sed
              rhoncus eget ex id egestas. Nam nec nisl.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <img class="pattern-img" src="{% static 'assets/images/pattern/pattern4.png' %}" alt="" />
  </div>
</div>
<!-- Estimate Section End -->

<!-- Call to Action Section Start -->
<div
  class="rs-cta style1 secondary-bg2 relative pt-128 pb-128 md-pt-70 md-pb-70"
>
  <div class="container">
    <div class="row rs-vertical-middle">
      <div class="col-lg-7">
        <div class="sec-title4">
          <div class="sub-title secondary-color mb-6">Get a quote</div>
          <h2 class="title white-color left-line-v margin-0">
            <div class="draw-line start-draw"></div>
            Ready to Get Started for First Class Consultant?
          </h2>
        </div>
      </div>
      <div class="col-lg-5 md-pt-30">
        <div class="cta-btn text-center text-md-left">
          <a class="readon2 hover-light" href="#"
            >Get Started
            <div class="btn-arrow"></div
          ></a>
        </div>
      </div>
    </div>
    <img
      class="pattern-right"
      src="{% static 'assets/images/pattern/pattern5.png' %}"
      alt=""
    />
    <img class="pattern-left" src="{% static 'assets/images/pattern/pattern6.png' %}" alt="" />
  </div>
</div>
<!-- Call to Action Section End -->

<!-- Pricing Plan Start -->
<div class="rs-pricing style2 pt-128 md-pt-70">
  <div class="container">
    <div class="sec-title4 text-center mb-60">
      <div class="sub-title mb-6">Pricing</div>
      <h2 class="title">Pricing Plan</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="pricing-wrap text-center">
          <div class="head-part">
            <div class="title">Basic</div>
            <div class="price">$65<span class="period">/m</span></div>
          </div>
          <div class="body-part">
            <ul>
              <li>Competitor Analysys <i class="fa fa-check"></i></li>
              <li>Marketing Strategy <i class="fa fa-check"></i></li>
              <li class="no">Digital Marketing <i class="fa fa-times"></i></li>
              <li class="no">Marketing Strategy <i class="fa fa-times"></i></li>
              <li class="no">
                Competitor Analysys <i class="fa fa-times"></i>
              </li>
            </ul>
            <div class="btn-part">
              <a class="price-btn" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-wrap active text-center">
          <div class="head-part">
            <div class="title">Standard</div>
            <div class="price">$75<span class="period">/m</span></div>
          </div>
          <div class="body-part">
            <ul>
              <li>Competitor Analysys <i class="fa fa-check"></i></li>
              <li>Marketing Strategy <i class="fa fa-check"></i></li>
              <li>Digital Marketing <i class="fa fa-check"></i></li>
              <li class="no">Marketing Strategy <i class="fa fa-times"></i></li>
              <li class="no">
                Competitor Analysys <i class="fa fa-times"></i>
              </li>
            </ul>
            <div class="btn-part">
              <a class="price-btn" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-wrap text-center">
          <div class="head-part">
            <div class="title">Premium</div>
            <div class="price">$99<span class="period">/m</span></div>
          </div>
          <div class="body-part">
            <ul>
              <li>Competitor Analysys <i class="fa fa-check"></i></li>
              <li>Marketing Strategy <i class="fa fa-check"></i></li>
              <li>Digital Marketing <i class="fa fa-check"></i></li>
              <li>Marketing Strategy <i class="fa fa-check"></i></li>
              <li>Competitor Analysys <i class="fa fa-check"></i></li>
            </ul>
            <div class="btn-part">
              <a class="price-btn" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Priceing Plan End -->

{% endblock %}
