{% extends 'core/base.html' %} {% load static %} {% block title %}Book an appointment{% endblock title %} {% block content %}


        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs img4">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">
                        partners
                        <span class="watermark">partners</span>
                    </h1>
                    <span class="sub-text">Seeking to give back to the community in form of corporate social responsibility? Let’s create the value
of a life time that places your organisation in the mind of the community by partnering with US.</span>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Iconbox Area Section Start -->
        <div id="rs-iconbox-area" class="rs-iconbox-area pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row y-middle">
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/1.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/2.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/3.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 md-mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/4.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-mb-30">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/5.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box-inner">
                            <div class="box-item">
                                <div class="icon-box">
                                    <a href="#"><img class="dance_hover" src="{% static 'assets/images/partner/main-home/6.png' %}"
                                            alt="Partner"></a>
                                </div>
                                <div class="text-area">
                                    <p class="services-txt"> We always provide people a complete solution focused of any
                                        business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Iconbox Area Section End -->

        <!-- Cta Section End -->
        <div class="rs-cta style1 bg13 pt-100 pb-95 md-pt-70 md-pb-65">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-30">
                        <div class="sec-title2">
                            <div class="sub-text">Become a Partner</div>
                            <h2 class="title white-color margin-0">Our experts always ready to<br>
                                work <span class="new-next">with you.</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="btn-part text-right md-left">
                            <a class="readon consultant discover" href="about.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cta Section End -->

        <!-- Contact Section Start -->
        <div class="rs-contact contact-style2 pt-95 pb-100 md-pt-65 md-pb-70">
            <div class="container">
                <div class="sec-title2 mb-55 md-mb-35 text-center">
                    <div class="sub-text">Quick contact</div>
                    <h2 class="title mb-0">Sponsor a family or friend  <br><span>fill a form to be contacted</span></h2>
                </div>
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-50">
                        <div class="contact-img">
                            <img src="{% static 'assets/images/contact/computer.jpg' %}" alt="Contact">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-wrap">
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="#">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="name" name="name"
                                                placeholder="Name" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="email" name="email"
                                                placeholder="E-Mail" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="phone" name="phone"
                                                placeholder="Phone Number" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" id="Website" name="subject"
                                                placeholder="Your Website" required="">
                                        </div>

                                        <div class="col-lg-12 mb-30">
                                            <textarea class="from-control" id="message" name="message"
                                                placeholder="Your message Here" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-part">
                                        <div class="form-group mb-0">
                                            <input class="readon submit" type="submit" value="Submit Now">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->

    </div>
    <!-- Main content End -->


{% endblock %}